# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
wp-content/plugins/hello.php

# ignore specific themes
wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
.Rproj.user
*.dta
Documents
qog_std_ts_jan20.dta
WVS_TimeSeries_R_v1_5.rdata
qog_std_jan20.pdf
submission.zip
submission_v210119.zip
submission
social capital_order.docx
revisions.docx
Review for Social Capital and the Success of Economic Sanctions.pdf
Notes from SHP.docx
HurKimParkWhangv210118.docx
Hur_Kim_Park_Whang_social capital.docx
Hur_Kim_Park_Whang_social capital_v210117.docx
Hur_Kim_Park_Whang_social capital - Copy.docx
rdo
*.pdf
*.docx
*.Rmd
*.tex
