# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
wp-content/plugins/hello.php

# ignore specific themes
wp-content/themes/twenty*/

# ignore node dependency directories
SCEconSanction/Documents

# ignore log files and databases
*.log
*.sql
*.sqlite
.Rproj.user
*.dta
*.pdf
*.docx
*.Rmd
*.tex
qog_std_jan20.pdf
qog_std_ts_jan20.dta
WVS_TimeSeries_R_v1_5.rdata
Hur_Kim_Park_Whang_social capital - Copy~
Hur_Kim_Park_Whang_social capital~
Hur_Kim_Park_Whang_social capital_v210117~
HurKimParkWhangv210118~
Lit_Review_Sanghoon~
Notes from SHP~
Review for Social Capital and the Success of Economic Sanctions~
revisions~
submission~
social capital_order~
submission_v210119~
rdo~