# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
wp-content/plugins/hello.php

# ignore specific themes
wp-content/themes/twenty*/

# ignore node dependency directories
SCEconSanction/Documents

# ignore log files and databases
*.log
*.sql
*.sqlite
.Rproj.user
*.dta
*.pdf
*.docx
*.Rmd
*.tex
qog_std_jan20.pdf
qog_std_ts_jan20.dta
WVS_TimeSeries_R_v1_5.rdata
Hur_Kim_Park_Whang_social capital - Copy.docx
Hur_Kim_Park_Whang_social capital.docx
Hur_Kim_Park_Whang_social capital_v210117.docx
HurKimParkWhangv210118.pdf
HurKimParkWhangv210118.tex
HurKimParkWhangv210118.Rmd
HurKimParkWhangv210201.Rmd
HurKimParkWhangv210201.tex
Lit_Review_Sanghoon.pdf
Notes from SHP.docx
Review for Social Capital and the Success of Economic Sanctions.pdf
revisions.docx
submission.zip
social capital_order.docx
submission_v210119.zip
manuscript_jpr.docx
YONSE_3712_79493013_manuscript.docx
manuscript.docx